[submodule "_vim/bundle/ctrlp"]
	path = _vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/NERDtree"]
	path = _vim/bundle/NERDtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "_vim/bundle/ack"]
	path = _vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "_vim/bundle/powerline"]
	path = _vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "_vim/bundle/pad"]
	path = _vim/bundle/pad
	url = https://github.com/vim-scripts/vim-pad.git
[submodule "_vim/bundle/Tasklist"]
	path = _vim/bundle/Tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "_vim/bundle/minibufexpl"]
	path = _vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "_vim/bundle/gundo"]
	path = _vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "_vim/bundle/lessc"]
	path = _vim/bundle/lessc
	url = https://github.com/groenewege/vim-less.git
[submodule "_vim/bundle/badwolf"]
	path = _vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/pylint"]
	path = _vim/bundle/pylint
	url = https://github.com/orenhe/pylint.vim.git
[submodule "_vim/bundle/pyflakes"]
	path = _vim/bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "_vim/bundle/pythonmode"]
	path = _vim/bundle/pythonmode
	url = https://github.com/klen/python-mode.git
