[submodule "_vim/bundle/ctrlp"]
	path = _vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/NERDtree"]
	path = _vim/bundle/NERDtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "_vim/bundle/ack"]
	path = _vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "_vim/bundle/Tasklist"]
	path = _vim/bundle/Tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "_vim/bundle/gundo"]
	path = _vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "_vim/bundle/lessc"]
	path = _vim/bundle/lessc
	url = https://github.com/groenewege/vim-less.git
[submodule "_vim/bundle/badwolf"]
	path = _vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/pylint"]
	path = _vim/bundle/pylint
	url = https://github.com/orenhe/pylint.vim.git
[submodule "_vim/bundle/pyflakes"]
	path = _vim/bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "_vim/bundle/pythonmode"]
	path = _vim/bundle/pythonmode
	url = https://github.com/klen/python-mode.git
[submodule "_vim/bundle/todolist"]
	path = _vim/bundle/todolist
	url = https://github.com/vim-scripts/todolist.vim.git
[submodule "_vim/bundle/bufexplorer"]
	path = _vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "_vim/bundle/gist"]
	path = _vim/bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "_vim/bundle/webapi"]
	path = _vim/bundle/webapi
	url = https://github.com/mattn/webapi-vim.git
[submodule "_vim/bundle/surround"]
	path = _vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/repeat"]
	path = _vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "_vim/bundle/php"]
	path = _vim/bundle/php
	url = https://github.com/madflow/vim-php
[submodule "_vim/slimv"]
	path = _vim/slimv
	url = https://github.com/vim-scripts/slimv.vim.git
[submodule "_vim/bundle/slimv"]
	path = _vim/bundle/slimv
	url = https://github.com/vim-scripts/slimv.vim.git
[submodule "_vim/bundle/vim-markdown"]
	path = _vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "_vim/bundle/vim-airline"]
	path = _vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "_vim/bundle/salt"]
	path = _vim/bundle/salt
	url = https://github.com/saltstack/salt-vim
[submodule "_vim/bundle/nginx"]
	path = _vim/bundle/nginx
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "_vim/bundle/vdebug"]
	path = _vim/bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "_vim/bundle/MatchTag"]
	path = _vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "_vim/bundle/python-mode"]
	path = _vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "_vim/bundle/dispatch"]
	path = _vim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "_vim/bundle/tagbar"]
	path = _vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "_vim/bundle/go"]
	path = _vim/bundle/go
	url = https://github.com/fatih/vim-go.git
[submodule "_vim/bundle/vim-plugins"]
	path = _vim/bundle/vim-plugins
	url = https://github.com/WolfgangMehner/vim-plugins.git
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/gitgutter"]
	path = _vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "_vim/bundle/berkshelf"]
	path = _vim/bundle/berkshelf
	url = https://github.com/alpaca-tc/berkshelf.vim.git
[submodule "_vim/bundle/grep"]
	path = _vim/bundle/grep
	url = https://github.com/yegappan/grep.git
[submodule "_vim/bundle/dash"]
	path = _vim/bundle/dash
	url = https://github.com/rizzatti/dash.vim.git
[submodule "_vim/bundle/detectindent"]
	path = _vim/bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule "_vim/bundle/vimdeck"]
	path = _vim/bundle/vimdeck
	url = https://github.com/tybenz/vimdeck.git
[submodule "_vim/bundle/vim-ruby"]
	path = _vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "_vim/bundle/rust"]
	path = _vim/bundle/rust
	url = https://github.com/wting/rust.vim.git
[submodule "_vim/bundle/vim-hackernews"]
	path = _vim/bundle/vim-hackernews
	url = https://github.com/ryanss/vim-hackernews.git
[submodule "_vim/bundle/coffee-script"]
	path = _vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "_vim/bundle/csv.vim"]
	path = _vim/bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "_vim/bundle/vim-virtualenv"]
	path = _vim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "_vim/bundle/moonscript-vim"]
	path = _vim/bundle/moonscript-vim
	url = https://github.com/leafo/moonscript-vim.git
[submodule "_vim/bundle/vim-rubocop"]
	path = _vim/bundle/vim-rubocop
	url = https://github.com/ngmy/vim-rubocop.git
[submodule "_vim/bundle/colorschemes"]
	path = _vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "_vim/bundle/CSApprox"]
	path = _vim/bundle/CSApprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "_vim/bundle/base-16"]
	path = _vim/bundle/base-16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "_vim/bundle/i3-vim-syntax"]
	path = _vim/bundle/i3-vim-syntax
	url = https://github.com/PotatoesMaster/i3-vim-syntax
[submodule "_vim/bundle/vim-airline-themes"]
	path = _vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "_vim/bundle/gruvbox"]
	path = _vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "_vim/bundle/commentary"]
	path = _vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "_vim/bundle/neocomplete"]
	path = _vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "_vim/bundle/sqlutilities"]
	path = _vim/bundle/sqlutilities
	url = https://github.com/vim-scripts/SQLUtilities.git
[submodule "_vim/bundle/align"]
	path = _vim/bundle/align
	url = https://github.com/vim-scripts/Align.git
[submodule "_vim/bundle/vim-wakatime"]
	path = _vim/bundle/vim-wakatime
	url = git://github.com/wakatime/vim-wakatime.git
[submodule "_vim/bundle/dash.vim"]
	path = _vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
